@import '../../../assets/styles/variables.scss';


.order-status{
    margin-bottom: 24px ;
    position: sticky;
    top: 55px;
    left: 0;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    .order-status-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $gray-color;

        .order-status-item {
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            cursor: pointer;
            border-bottom: 2px solid $gray-color;
            font-size: 17px;

            &:hover {
                color: $primary-color;
            }
        }
        .active{
            border-bottom: 2px solid $primary-color !important;
            color: $primary-color;
        }
    }
}


.order-item-container{
    width: 100%;
    background-color: $gray-color;
    padding: 12px 20px;
    margin-bottom: 24px;

    .order-item-status{
        color: $primary-color;
        display: flex;
        justify-content: end;
        padding: 6px 0px 12px 0px;
        
        font-size: 17px;
        text-transform: uppercase;
    }
    .order-item{
        display: flex;
        align-items: center;
        margin: 12px 0px;
        justify-content: space-between;
        .order-item-content{
            display: flex;
            align-items: center;
            .order-item-img {
                width: 100px;
                margin-right: 15px;
        
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.order-item-footer{
    padding: 12px 20px;
    border-top: 1px solid $primary-color ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px 6px 0px;
    .primary{
        border: none;
            padding: 8px 0px;
            margin-right: 12px;
            width: 150px;
        color: white;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        &:hover{
            background-color: #067cdc;;
        }
    }
    .secondary{border: none;
        padding: 8px 0px;
        margin-right: 12px;
        width: 150px;
        border: 1px solid $primary-color;
        background-color: white;
        color: $primary-color;
    }
    .cancel{
        padding: 8px 0px;
        margin-right: 12px;
        width: 150px;
        border: 1px solid $red-color;
        background-color: $red-color;
        color: $white-color;
    }
}

.total-price{
    color: $primary-color;
    font-size: 17px;
    padding-left: 10px !important;
}

.order-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $primary-color ;
}
.button-cancel{
    padding: 5px 0px;
    background-color: rgb(255, 33, 33);
    width: 150px !important;
    color: white;
    &:hover{
        background-color: rgb(255, 18, 18);
    }
}

.form-check-reason{
    margin: 10px 0px ;
}

.modal-body{
    width: 100%;
}

.order-item-time{
    color: $primary-color;
}

.order-emty{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F3F3F3;
    align-items: center;
    height: 228px;
    flex-direction: column;
    img{
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
    }
}

.modal-assess-header{
    display: flex;
    margin-bottom: 10px;
    .modal-assess-img{
        width: 150px;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .modal-assess-name{
        margin-left: 15px;
    }
}

.icon-star{
    margin-right: 5px;
    cursor: pointer;
    color: #EE4D2D;
}

.input-review{
    width: 100%;
    margin-top: 5px;
    textarea{
        width: 100%;
        padding: 6px 8px;
        resize: none;
        border: 1px solid #067cdc !important;
        outline: none;
        &:focus-visible{
            border: 1px solid #067cdc !important;
        }
    }
}