@import '../../assets/styles/variables.scss';

.button-custom{
    width: 100%;
    margin: 10px 0px;

    border: 1px solid black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $primary-font;
    color: black;
    background-color: white;
    
    padding: 10px;
    &:hover{
        color: $white-color;
        background-color: black;
    }
}