@import '../../assets/styles/variables.scss';

.product-management-header{
    background-color: $gray-color;
    padding: 10px;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    letter-spacing: .08em;
}

.input-table{
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
    width: 200px;
}

.btn-product{
    margin-left: 10px;
    background-color: $primary-color;
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: #0074d3;
    }
}

.table-product-header{
    width: 100%;
    letter-spacing: .05em;
    border-radius: 5px;
    margin-bottom: 5px;
    thead {
        tr {
            th {
                background-color: $gray-color;
                padding: 10px;
                font-weight: 600;
                color: rgb(93, 93, 93);
                margin-bottom: 3px;
            }
        }
    }
}

.table-product{
    width: 100%;
    border-collapse: collapse;
    letter-spacing: .05em;
    tbody{
        tr{
            margin-bottom: 20px;
            background-color: $gray-color;
            &:hover{
                background-color: #e8e8e8;
            }
            td{
                border-bottom: 1px solid #d3d3d3;
                padding: 10px;
                color: black;
                cursor: pointer;
                .product-img {
                    height: 100px;
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 20px;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.icon-product{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    background-color: $primary-color;
    cursor: pointer;
    color: white;
    &:hover {
        background-color: #0074d3;
    }
}

.delete{
    background-color: $red-color !important;
    &:hover {
        background-color: #d41010 !important;
    }
}

.pagination-container{
    background-color: $gray-color;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: end;
    letter-spacing: .08em;
    padding: 10px;
}

.pagination-list{
    display: flex;
    .page-item{
        border-radius: 30px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
        background-color: #e8e8e8;
        &:hover {
            background-color: #0074d3;
            color: white !important;
        }
    }
}

.product-table-header{
    font-size: 18px;
    font-weight: 600;
}