@import '../../assets/styles/variables.scss';

.icon-product{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit{
    background-color: $primary-color;
    color: white;
}

.delete{
    background-color: $red-color;
    color: white;
}

.product-img{
    width: 150px;
    img{
        width: 100%;
        object-fit: cover;
    }
}