@import '../../../assets/styles/variables.scss';

.address-container{
    background-color: $gray-color;
}
.address-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        svg{
            font-size: 20px;
            margin-right: 7px;
        }
    }
}