@import '../../../assets/styles/variables.scss';

.address-container{
    padding: 10px 20px;
    background-color: $gray-color;
}
.address-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5{
        margin-bottom: 0px;
        font-size: 16px;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        svg{
            font-size: 20px;
            margin-right: 7px;
        }
    }
}

.address-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        margin-left: 10px;
    }
}

.address-edit-form{
    .modal-body{
        margin-bottom: 0px;
    }
   
}
.address-item-ctn{
    background-color: $gray-color;
    padding: 10px 20px;
}

.address-add-form{
}

.address-list{
    margin-bottom: 20px;
}

.address-nodata{
    margin-top: 10px;
    background-color:$gray-color ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}