@import '../../assets/styles/variables.scss';

.card-cotainer{
    font-family: $primary-font;
    .card-img{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card-content{
        width: 100%;
        background-color: $white-color;
        padding: 16px 10px;
        font-family: $primary-font;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;

        .card-price{
            color: $primary-color;
        }
    }
}