@import '../../assets/styles/variables.scss';

.card-cotainer{
    font-family: $primary-font;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    .card-img{
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        .img-hover{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-out;
            &:hover{
                 opacity: 1;
            }
        }
        .img-main{
            transition: opacity 0.3s ease-out;
        }
    }
    .card-content{
        width: 100%;
        background-color: $white-color;
        padding: 16px 10px;
        font-family: $primary-font;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;

        .card-title {
            cursor: pointer;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                color: $primary-color;
            }
        }

        .card-price{
            color: $primary-color;
        }
    }
    .card-index-rank{
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: $black-color;
        border-radius: 50px;
        margin: 10px;
        color: $white-color;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: 600;
    }
}