@import '../../assets/styles/variables.scss';

.card-cotainer{
    font-family: $primary-font;
    position: relative;

    &:hover{
        border: 1px solid black;
        .card-price-img{
            transform: translateY(-10px);
        }
    }
    
    .card-img{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        height: 270px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        .img-hover{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-out;
            &:hover{
                 opacity: 1;
            }
        }
        .img-main{
            transition: opacity 0.3s ease-out;
        }
        .card-price-img{
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 3px 10px;
            margin-left: 10px ;
            background-color: white;
            transition: transform 0.1s ease;
        }
        
    }
    .card-content{
        width: 100%;
        background-color: $white-color;
        padding: 16px 10px;
        font-family: $primary-font;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: .1em;

        .card-title {
            cursor: pointer;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(85, 85, 85);
            &:hover {
                color: black;
            }
        }

        .card-price{
            color: rgb(85, 85, 85);
        }
    }
    .card-index-rank{
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('https: //file.hstatic.net/200000642007/file/bg_rank_c21e90ddb3c74242970a777d424a1ae5.png');
        border-radius: 50px;
        color: $white-color;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: 600;
        .rank-count{
            z-index: 10;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
