@import '../../../assets/styles/variables.scss';

.user-inforation-title{
    width: 20%;
    margin-right: 30px;
    text-align: right;
    li{
        margin-bottom: 8px;
    }
}

.user-inforation-value{
    padding-right: 20px;
    width: 70%;
    border-right: 1px solid $primary-color;
    li {
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        .label-input{
            width: 250px;
            white-space: nowrap;
            text-align: right;
            margin-right: 20px;
        }
    }
    button{
        margin-left: 187px;
    }
}

.user-inforation-avatar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        overflow: hidden;
        margin-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
        button {
            border: none;
            padding: 5px 0px;
            width: 100px;
            margin-bottom: 5px;
        }
    
        .primary {
            color: white;
            background-color: $primary-color;
            border: 1px solid $primary-color;
    
            &:hover {
                background-color: #067cdc;
                ;
            }
        }
}

.user-inforation-container{
    background-color: $gray-color;
}

button {
    border: none;
    padding: 5px 0px;
    width: 100px;
    margin-bottom: 5px;
}

.primary {
    color: white;
    background-color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
        background-color: #067cdc;
        ;
    }
    &:disabled{
        background-color: $background-color;
        border: 1px solid $background-color;
        &:hover {
            background-color:$background-color;
            ;
        }
    }
}

.input-full-name{
    display: flex;

}