@import '../../assets/styles/style.scss';
@import '../../assets/styles/variables.scss';

.header-container {
    position: relative;
    background-color: $white-color;

    .header-logo {
        font-size: 60px;
        color:$black-color;
    }

    .header-icon-cotainer{
        margin-right: 20px;

        .header-icon {
            color:$black-color;
            font-size: 20px;
        }
    }

    .header-nav-container{
        display: flex;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 30px;

        .header-link {
            padding: 16px 18px;
            position: relative;
            &:hover {
                color: $primary-color;
            }
        }

        .header-nav-item-hover{
            display: none;
            position: absolute;
            width: 100% ;
            top: 100%;
            left: 0;
            background-color: $white-color;
            border-top: 2px solid $gray-color;
        }

        .header-link:hover + .header-nav-item-hover {
            display: block;
        }

    }
}