@import '../../assets/styles/variables.scss';

.input-new-product{
    width: 100%;
    // padding: 5px 10px;
}

.label-new-product{
    font-weight: 600;
    margin: 10px 0px 5px 0px;
}

.product-variant{
    width: 100%;
   
}

.product-variant-add{
    display: flex;
    background-color: $gray-color;
    border: 3px solid $green-color;
    .col{
        margin: 0px 10px 10px 10px;
    }
}

.error{
    font-style: 12px;
    color: $red-color;
    margin: 0;
    padding: 0;
}

.product-variant-color{
    width: 10px;
    height: 10px;
    background-color: aqua;
}