.footer-container {
    background-color: black;
    color: #fff;
    padding: 40px 40px 20px;
    display: flex;
    justify-content: center; // Căn giữa

    flex-direction: column; // Cho footer là cột
  }
  
  .footer-sections {
    display: flex; // Hiển thị 3 thẻ h3 cùng hàng trên màn hình nhỏ
    flex-wrap: wrap; // Cho phép wrap nếu không đủ chỗ
    justify-content: space-between; // Giữa các phần
  }
  
  .footer-section {
    flex: 1; // Mỗi phần chiếm không gian đều
    margin-right: 20px;
    text-align: center; 
    h3 {
      font-size: 16px;
      margin-bottom: 20px;
      font-weight: 600;
    //   text-align: center; // Căn giữa cho h3

      cursor: pointer; // Thay đổi con trỏ khi hover
    }
  
    ul {
      list-style-type: none;
    //   text-align: center; // Căn giữa cho h3

      padding: 0;
  
      &.active {
        display: block; // Hiển thị danh sách khi mở
      }
  
      li {
        margin-bottom: 10px;
        font-size: 14px;
  
        a {
          text-decoration: none;
          color: #fff;
          padding: 5px 0;
          display: inline-block;
  
          &:hover {
            color: #00aaff;
          }
        }
      }
    }
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
  
    p {
      margin: 5px 0;
    }
  }
  