@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('./assets/styles/font/HelveticaNeueLTPro-Cn.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HelveticaNeueLTPro', sans-serif !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

.body-container{
  position: relative;
}


.link-style{
  text-decoration: none;
  color: black;
}

.header-fixed {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100% !important;
}
.nav-fixed{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100% !important;
}


ul{
  margin: 0 !important;
  padding: 0 !important; 
}
li{
  list-style: none;
}

button{
  border: none;
}