@import url('https://fonts.cdnfonts.com/css/product-sans');

$primary-color: #6A7EFC;
$background-color: #586579;
$white-color: #fff;
$black-color: #000;
$gray-color: #F3F3F3;
$red-color: #fd6666;
$blue-color: #77CDFF;
$green-color: #77ff82;


$primary-font: 'Product sans',sans-serif;