@import '../../assets/styles/variables.scss';

.admin-container{
    display: flex;
    background-color: $gray-color;
    height: 100vh;
    .admin-header{
        background-color: $white-color;
        width: 250px;
        padding: 15px;

        .admin-header-item{
            width: 100%;
            font-weight: 600;
            cursor: pointer;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            &:hover{
                color: $primary-color;
            }
            .admin-header-item-icon{
                margin-left:5px ;
            }
        }

        .active{
            background-color: $primary-color !important;
            color: $white-color !important;
        }
        
    }
    .admin-content{
        width: 100%;
        padding: 15px;
    }
}

