@import '../../assets/styles/variables.scss';

.order-header{
    background-color: $white-color;
   
    text-align: center;
    display: flex;
    justify-content: space-between;

    .order-header-item{
        text-align: center;
        width: 100%;
        padding: 10px 0px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            color: $primary-color;
        }
    }

    .active{
        background-color: $primary-color !important;
        color: $white-color !important;
    }
}

.order-admin-container{
    position: relative;
    .panel-order-details-container{
        transition: 0.15s all ease-in-out;
        top:0;
        right: 0;
        position: absolute;
        z-index: 2000;
        width: 100vw;
        height: 100vh;
        background-color: rgba(185, 185, 185, 0.5);
        display: flex;
        justify-content: end;
        .panel-order-details{
            width: 30vw;
            height: 100vh;
            background-color: white;
            padding: 20px 30px;
            overflow-y: auto;
            .panel-order-details-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 20px ;
                margin-bottom: 15px;
                background-color: white;
                border-bottom: 1px solid black ;
                .panel-order-details-header-title{
                    font-size: 25px;
                }
                svg{
                    cursor: pointer;
                    font-size: 30px;
                    &:hover{
                        color: $primary-color;
                        transform: scale(1.2);
                        transition: 0.15s ease-in-out all;
                    }
                }
            }
            .panel-order-details-content {
                padding: 10px 0px;
                .panel-order-details-row{
                    display: flex;
                    align-items: center;
                    margin-bottom:15px ;
                    .panel-order-details-title{
                        width: 170px;
                    }
                }
                .panel-order-details-product{
                    margin-bottom:15px ;
                    .order-product-details{
                        margin-top:15px ;
                        background-color: $gray-color;
                        display: flex;
                        img{
                            width: 100px;
                        }
                        .order-product-details-content{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 10px 15px;
                            .name-product{
                                font-weight: 600;
                            }
                            .infor-order-product{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .panel-order-footer{
                padding-top: 20px;
                display: flex;
                justify-content: end;
                border-top: 1px solid black ;
                button{
                    border: none;
                    width: 130px;
                    height: 40px;
                    margin-left: 20px;
                    border-radius: 5px;
                }
                .btn-cancel{
                    background-color: $red-color;
                    color: white;
                }
                .btn-save{
                    background-color: $primary-color;
                    color: white;
                }
            }
        }
    }
    
}

